<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style1.css">
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
    <!-- <h1>HEY</h1> -->
    <div class="w-full h-screen bg-zinc-900 text-white p-10">
        <a class="text-blue-500" href="/">Back To Home</a>
        <h1 class="text-3xl tracking-tighter mb-3 mt-10">All Users</h1>
        <div class="users flex gap-10 flex-wrap">
            <% if(users.length > 0) { %>
                <% users.forEach((user) => { %>
                    <div class="user w-72 p-4 bg-zinc-800 rounded-lg">
                        <div class="w-full h-52 bg-zinc-400 rounded-lg overflow-hidden">
                            <img class="w-full h-full object-cover object-" src="<%= user.image %>" alt="">
                        </div>
                        <h3 class="text-xl mt-3"><%= user.name %></h3>
                        <h5 class="text-zinc-400"><%= user.email %></h3>
                            <div class="flex gap-3">
                                <a class="text-blue-400" href="/edit/<%= user._id %>">Edit User</a>
                                <a class="text-red-400" href="/delete/<%= user._id %>">Delete User</a>
                            </div>
                    </div>
                <% }) %>
            <% } else { %>
                <h3>No users yet..</h3>
            <% } %>
           
        </div>
    </div>
    <!-- creating a practice app -->
</body>
</html>